* {
  margin: 0;
  padding: 0;
}

body {
  text-align: left;
  color: #222;
  font-size: 24px;
  font-family: sans-serif;
}

h1 {
  margin: 30px;
  text-align: center;
}

.languages {
  height: 500px;
  width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.language {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 10px 40px;
  /* background-color: blanchedalmond;
  border: 1px solid #222; */
  margin: 2px;
}

.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
}

.imgContainer img {
  width: 70px;
}

.textform{
  text-align: center;
}
